html{
  font-size: 16px;
  
 @include tablets {
    font-size: 13px;
  }

  @include mobile {
    font-size: 12px;
  }
}

html,
body {
  height: 100%;
}

body{
  background-color: pink;
    font-size: rem(16px);
    line-height:1.42 ;
     -webkit-font-smoothing: antialiased;
    font-family: 'ubunturegular', Arial, sans-serif;
    color: $black;
    position: relative;
    
}
.container {
  margin: 0 auto;
  width: 95%;
  max-width: 940px;
  display: flex;
  flex-direction: column;
}


.wrapper {
  position: relative;
 width: 100%;
  height: 100%;
  min-height: auto;
 overflow: hidden;

 @include tablets(){
  min-height: auto;
}
}

//tag style resets

*, *::before, *::after { 
  box-sizing: border-box; 
}

ul{
    margin: 0;
    padding: 0;
    li{ 
        list-style-type: none;
    }
}

a{
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

p{
    margin: 0;
    padding: 0;
}


table {
 border-collapse: collapse;
 border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}