extends ../template

block variables 
    - var title = 'My blog'

block content 
    h1 Blog
    ul
        li
            h2 Title
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        li
            h2 Title
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        li
            h2 Title
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        li
            h2 Title
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.