//colors
$blue: #0548be;
$dark_blue:#083c96;
$blue_button: #004cd1;
$blue_button_hover:#043ea3;
$light_blue:#a7b8d1;
$black_title: #474b57;
$gray_footer:#3d3f47;
$gray_footer_lighter:#1c1f29;
$gray_icons:#9e9fa3;
$gray_text: #455a64;
$about_me:  #f2f0e8;;


//resolutions
$big_tablets: 1100px;
$tablets : 768px;
$medium-tablets:643px; 
$mobile : 480px;
$small_mobile : 380px;