.svg_red{
    fill:#e25028;
}

.svg_yellow{
    fill:#f8b43a;
}

.svg_green{
    fill:#8ac03e;
}

.svg_trans{
    fill:transparent;
    stroke: #fff;
    opacity: 0.2 ;
}


.svg_dark{
    fill:$gray_footer_lighter;
    opacity:0.5 ;
}



.svg_biege{
 fill:$about_me;
}
